#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_CURRENT_TEST
	bool "Current test example"
	default n
	---help---
		Enable the current test example

if EXAMPLES_CURRENT_TEST

config EXAMPLES_CURRENT_TEST_PROGNAME
	string "Program name"
	default "current_test"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config EXAMPLES_CURRENT_TEST_PRIORITY
	int "Current test task priority"
	default 100

config EXAMPLES_CURRENT_TEST_STACKSIZE
	int "Current test stack size"
	default DEFAULT_TASK_STACKSIZE

endif
